body{
  font-family: "Montserrat",sans-serif;
  text-align: center;
}

h1{
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

h2{
    font-weight: bold;
    font-size: 2.7rem;
}

h3{
  font-weight: 800;
  font-size: 1.5rem;
}


/* sections */
.colored-section{
  color:#fff;
  background-color: #ff4c68;
}
.white-section{
  background-color: #fff;
}
/* Class Selectors */

.container-fluid{
  padding: 3% 15%;
}
/* navbar */


.navbar{
  margin-bottom: 4.5rem;
}
.nav-item{
  margin-left : 36px;
}
.nav-link{
  font-size: 1.2rem;
}
.navbar-brand{
  font-family: "Ubuntu",sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
/* Download btns */
.download-btn{
  margin: 5% 3% 10% 0;
}


/* title img */

#title{
  text-align: left;
}
.title-img{
  width: 60%;
  transform: rotateZ(25deg);
  position: absolute;
  right: 130px;
}
.title-img-container{
  position: relative;
}

/* feature */
#features{
  padding: 5% 0;
  position: relative;
  z-index: 1;
}

.feature-icon{
  color:#ef8172;
  font-size: 3rem;
}
.feature-icon:hover{
  color:#ff4c68;
}

/* Testimonials */

#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  margin-top: 40px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
  margin: 100px;
}
.pricing-column{
  padding: 3% 2%;
}

/* cta */

#cta{
  padding: 7% 0;
  line-height: 2;
}
.cta-btn{
  margin-top: 5%;
}
.cta-header{
  font-size: 3rem;
  width:60%;
  margin: 0 auto;
  line-height: 1.5;
}
/* footer */
#footer{
  padding: 5% 7%;
}
.Copyright{
  margin-top: 2%;
  font-size: 0.8rem;
}
.footer-icons{
  margin: 0 10px;
  font-size: 1.5rem;
}
/* Mobile Friendly */

@media (max-width:1100px) {
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
